<div class="row">
    <h1 style="color:#FF00FF">Experiencia laboral</h1>
    <div class="col-lg1">
    <div class="col-lg10"></div>
        <ul>
            <li>
                <h1>trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil adipisci odio exercitationem voluptatibus
                quaerat officiis ad dignissimos soluta quod vitae, aperiam autem ut nisi consectetur a minus molestias,
                veritatis recusandae?</p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil adipisci odio exercitationem voluptatibus
                quaerat officiis ad dignissimos soluta quod vitae, aperiam autem ut nisi consectetur a minus molestias,
                veritatis recusandae?</p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil adipisci odio exercitationem voluptatibus
                quaerat officiis ad dignissimos soluta quod vitae, aperiam autem ut nisi consectetur a minus molestias,
                veritatis recusandae?</p>
        </ul>
    </div>

</div>