<div class="row">

    <h1 style="color:#FF00FF"> Proyectos Realizados</h1>

    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2 style="color:#FF00FF">Proyecto 1 ejemplo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione hic omnis blanditiis, maxime rem
                veritatis, nemo culpa ipsam fuga deserunt modi quas doloribus? Error illo obcaecati tenetur ipsa ratione
                nobis.</p>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2"> <!--offset es para cuando la imagen este en el tamaño medium se separe 1 columna, en este caso-->
         <img src="../../../assets/github3.PNG" class="img-fluid img-proyecto" > <!--img-fluid es para que la imagen sea-->
        </div>
    </div>

</div>
