<div class="row">

    <h1 style="color:#FF00FF"> Proyectos Realizados</h1>

    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2 style="color:#FF00FF">Juego de Pelota</h2>
            <p>Es un juego basico donde se tiene que pasar el mouse sobre la pelota mientras esta en movimiento, es por tiempo y puntos</p>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2"> <!--offset es para cuando la imagen este en el tamaño medium se separe 1 columna, en este caso-->
         <img src="../../../assets/juegoPelota.png" class="img-fluid img-proyecto" > <!--img-fluid es para que la imagen sea-->
        </div>
    </div>

</div>
