<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../assets/logoAP.jpg" id="logoAP">

        </div>

        <div class="redes">
            
              <div>
                <a href="https://www.facebook.com/rocioguba/"><img src="../../../assets/facebook2bis.png" id="Facebook"> </a>
                
                <a href="https://www.linkedin.com/in/rocio-g-850309232/"><img src="../../../assets/logoLinkedin.png" id="LinkedIn"> </a>
                
                <a href="https://www.instagram.com/rocio.guba"><img src="../../../assets/instagram4.PNG" id="instagram" width="50%" height="50%"> </a>
                
                <a href="https://github.com/RocioGuba"><img src="../../../assets/github3.PNG" id="GitHub"> </a>

                <button type="button" class="btn btn-dark"(click)="login()" *ngIf="!isLogged">Ingreso</button>
                <button type="button" class="btn btn-dark"(click)="onLogOut()"*ngIf="isLogged">Cerrar sesion</button>
                
               </div>

        </div>

    </div>

</div>

