<div class="row">
  <h1 style="color:#FF00FF">Habilidades </h1>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
         [percent]="87"
         [radius]="100"
         [showUnits]="false"
         [title]="'HTML'"
         [titleColor]="'white'"
         [titleFontSize]="'3em'"
         [showSubtitle]="false"
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#F08080'"
         [innerStrokeColor]="'#FF00FF'"
         [animation]="true"
         [animationDuration]="500"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
         [percent]="77"
         [radius]="100"
         [showUnits]="false"
         [title]="'CSS'"
         [titleColor]="'white'"
         [titleFontSize]="'3em'"
         [showSubtitle]="false"
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#F08080'"
         [innerStrokeColor]="'#FF00FF'"
         [animation]="true"
         [animationDuration]="500"
    ></circle-progress>
  </div>


<div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
[percent]="60"
[radius]="100"
[showUnits]="false"
[title]="'JS'"
[titleColor]="'white'"
[titleFontSize]="'3em'"
[showSubtitle]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#F08080'"
[innerStrokeColor]="'#FF00FF'"
[animation]="true"
[animationDuration]="500"
></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [title]="'GITHUB'"
  [titleColor]="'white'"
  [titleFontSize]="'3em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F08080'"
  [innerStrokeColor]="'#FF00FF'"
  [animation]="true"
  [animationDuration]="500"
  ></circle-progress>
  </div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="90"
  [radius]="100"
  [showUnits]="false"
  [title]="'VSC'"
  [titleColor]="'white'"
  [titleFontSize]="'3em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F08080'"
  [innerStrokeColor]="'#FF00FF'"
  [animation]="true"
  [animationDuration]="500"
  ></circle-progress>
  </div>
</div>
