<div class="row"> <!-- "row" es el sistema de regilla de boostrap-->

   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/mifoto.jpg" width="40%" height="30%" class="img- fluid" id="fotoperfil"> 
   </div> <!--img- fluid sirve para que la imagen se agrande o achique -->  
   
   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h4 style="color:#FF00FF" id="nombre">Rocio D. Gutierrez Barcia</h4>
    <p style="color:lightgray">Full Stack Developper Jr </p>
   </div>
    
   <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1 style="color:#FF00FF">Acerca de mi</h1>
        <p style="color:lightgray">Me considero una persona organizada y con una gran motivación, soy capaz de adaptarme a cualquier circunstancia y dar siempre lo mejor de mí en cualquier proyecto, al mismo tiempo me gusta trabajar en equipo y fomentar valores como los del compañerismo.</p>
    </span>
   </div>
</div>  <!-- nos permite ordenar nuestra pagina de otra manera -->

