<div class="row"> 

   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/mifoto.jpg" width="40%" height="30%" class="img- fluid" id="fotoperfil"> 
   </div> <!--img- fluid sirve para que la imagen se agrande o achique -->
   
   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Rocio D. Gutierrez Barcia</p>
    <p>Full Stack Developper </p>
   </div>
    
   <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1 style="color:#FF00FF">Acerca de mi</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla sit quasi provident sapiente suscipit, vel placeat impedit inventore ut id rem atque sunt vitae tempore repellat delectus deleniti expedita aspernatur.</p>
    </span>
   </div>
</div>  <!-- nos permite ordenar nuestra pagina de otra manera -->

