.row{
    padding: 20px;

} /*.row ses para llamar a una clase del html, padding es la separacion del contenido que esta adentro del margen exterior*/

div{
    background-color:black;
    text-align: center;  /* es para centrar el texto*/
}


#nombre{
    font-weight: bold;
    margin-top: 30%;
} /* es para que el nombre este en letra estilo negrita*/ /* estiqueta "nombre" va con numeral*/

/*para acomodar la foto de perfil*/
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 3%;
        top: 500px;
    }
}